/* index.css */
.wrapper {
    display: flex;
  }
  
  .content {
    flex-grow: 1; /* This allows the content to take up remaining space */
    padding: 20px;
  }
  
  /* AdminSidebar.css */
  .sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding-top: 20px;
    z-index: 1; /* Ensure sidebar is above the content */
  }
  
  /* Navbar.css (or wherever your navbar styles are) */
  .navbar {
    z-index: 2; /* Ensure navbar is above the sidebar */
  }
  